.contenedorCarrito{
    border-style: solid;
    border-color: orange;
    padding: 0.5rem;
    width:max-content
}

.contenedorCarrito-items{
    display: flex;
    flex-flow: row nowrap;
    border-bottom: solid;
    border-color: orange;
    justify-content: center;

}

.contenedorCarrito-botonRemover{
    margin-left: 0.5rem;
    height: 50%;
    align-self: center;
    background-color: orangered;
    color: white;
    border-radius: 30%;
    cursor: pointer;
}

.contenedorCarrito-botonVaciar{
    background-color: orangered;
    color: white;
    border-radius: 5px;
    cursor: pointer;
    width: 30%;
    font-size:medium;
}

.botonContinuarComprando{
    background-color: orange;
    border-radius: 5px;
    color: white;
    font-size: large;
    cursor: pointer
}

.cartContainerForm{
    padding: 0.5rem;
    display: flex;

    
}

.cartContainerForm-input{
    background-color: orange;
    color: white;
    font-weight: bold;
    margin-right: 0.8rem;
    border-radius: 5px;
}

.cartContainerForm-finalizarCompra{
    background-color: greenyellow;
    border-radius: 5px;
    cursor: pointer
}