

.item{
    display: flex;
    flex-flow: column;
    padding: 1rem;
    width: 20%;
    height: max-content;
    border-style: solid;
    border-color: orange;
    border-radius: 2%;
    
}

.imagen{
    width: 100%;
    justify-content: center;
}
.detalle{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: medium;
    padding-left: 1rem;
}

.descripcion{
    font-size: small
}