

.item{
    display: flex;
    flex-flow: column;
    padding: 1rem;
    width: 10%;
    height: 22rem;
    border-style: solid;
    border-color: orange;
    border-radius: 2%;
    
}

.imagen{
    width: 100%;
    justify-content: center;
}
.detalle{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: medium;
    height: 55%;
}

.descripcion{
    font-size: small
}

.item-button{
    background-color: orange;
    color: whitesmoke;
    height: 100%;
    border-radius: 10%;
    
}